extends ../layout.pug

block content
  main.page-content
    include ../partials/categories.pug
    section.tickets-list
      h2.visually-hidden Предложения из категории электроника
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title
            | #{currentCategory.name}  
            b.js-qty #{count}
        ul
          each offer, index in offers
            li.tickets-list__item
              include ../partials/ticket-card.pug

        if withPagination
          +pagination(page, totalPages, range, `?`)