extends layout.pug

block content
  main.page-content
    include partials/categories.pug
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самое свежее
        ul
          each offer, index in lastOffers
            li.tickets-list__item
              include partials/ticket-card.pug

    section.tickets-list
      h2.visually-hidden Самые обсуждаемые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самые обсуждаемые
        ul
          each offer, index in popularOffers
            li.tickets-list__item
              include partials/ticket-card.pug